@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;

}

.body {
    width: 100%;
    padding: 10px;
    margin: 10px;
}

.container-card {
    padding: 10px;
    margin: 20px;
    /* width: 100%; */
    /* border: 1px solid salmon; */
}

.container-card .dish {
    display: flex;
    justify-content: center;

}

.card {
    width: 40%;
    border: 1px solid black;
    margin: 15px;
    background-color: rgba(83, 76, 68, 0.419);
}

.card2 .dish_name {
    background-color: rgba(112, 30, 188, 0.228);
}

.card3 .dish_name {
    background-color: rgba(43, 168, 226, 0.228);
}

h3 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 800;
}

.container-card .dish p {
    clear: right;
    margin: 15px;
    font-size: 1rem;
}

.dish_name {
    margin-bottom: 10px;
    width: 40%;
    text-align: center;
    float: right;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    background-color: rgba(49, 99, 83, 0.522);
    font-size: 1.3rem;
    font-weight: 700;
    overflow-wrap: break-word;
}

.navbar {
    background-color: rgba(83, 76, 68, 0.419);
}

.navbar .navbar-brand {
    color: black;
    clear: right;
}

.navbar .navbar-name li {
    color: black;
    font-size: 1.3rem;
}

#collapsable-nav li {
    display: none;
}

#nav-list li {
    text-align: center;
    border-bottom: 1px solid black;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1em;
}

#nav-list li:first-child{
    margin-top: 40px;
}

#nav-list li:hover {
    background: #E7E7E7;
}

@media (min-width: 768px) and (max-width: 991px) {
    .dish {
        display: flex;
        flex-wrap: wrap;
    }

    .dish .card3 {
        width: 80%;
    }

}

@media (max-width: 767px) {
    .dish {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 80%;
    }

    #collapsable-nav li {
        display: block;
    }
}